In [5]:
fruits = ['orange','apple','pear','banana','kiwi','apple','banana']
type(fruits)

fruits:list[str] = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'] #list[str]可省略
type(fruits)

list

In [6]:
n = len(fruits)
fruits[0]
fruits[1]
fruits[2]
fruits[3]
fruits[4]
fruits[5]
fruits[6]
#fruits[7]

'banana'

In [19]:
n = len(fruits) #len 接的是名調不是字串，不可以用【】
fruits[1]

'apple'

In [17]:
len(fruits)

7

In [20]:
range(5)

range(0, 5)

In [21]:
range(1,10)

range(1, 10)

In [7]:
range(5)  #不可變序列，給一個數值,在python值都是從0開始的，如上，就會是從0到4，5個數值，不含5
range(1,10) #range可以是兩個數值，指定從哪開始到哪結束，不給第三個參數就是間隔都是1，(strat,stop,step)
range(1,10,2)

range(1, 10, 2)

In [8]:
for i in range(5):
    print(i,end=" ")
print()
for i in range(1,10):
    print(i,end=' ')
print()
for i in range(1,10,2):
    print(i, end=' ')

0 1 2 3 4
1 2 3 4 5 6 7 8 9
1 3 5 7 9

In [9]:
for i in range(n):
    print(fruits[i])

orange
apple
pear
banana
kiwi
apple
banana

In [10]:
for item in fruits:
    print(item)

orange
apple
pear
banana
kiwi
apple
banana

In [11]:
for item in fruits:
    if 'b' in item:
        print(item)

banana
banana

In [12]:
for item in fruits:
    if 'b' in item:
        print(item)

banana
banana

In [13]:
for item in fruits:
    if not 'b' in item:
        print(item)

orange
apple
pear
kiwi
apple

In [ ]:
#tuple = 暫時的(只能讀不能改裡面的東西)，所以不會放在資料結構裡
#一定得放，不然的話會優先運算
#拆解法
(name,age,height) = ("徐國堂,25,160")
print(name)
print(age)
print(height)
#tuple為小括號，暫時出現