In [56]:
# import pydantic 不會這麼寫，會用繼承的方式寫

from pydantic import BaseModel

class person(BaseModel):
    first_name:str
    last_name: str
    age:int

In [57]:
p1 = person(first_name='John', last_name= 'Smith', age=42)
print(p1.first_name)
print(p1.last_name)
print(p1.age)
print(p1)

John
Smith
42
first_name='John' last_name='Smith' age=42

In [14]:
p2 = person(first_name='John', last_name='Smith', age='42') #用文字一樣能轉換成數字
p2

person(first_name='John', last_name='Smith', age=42)

In [17]:
try:  #i這支不是最終要呈現的方式
    p3 = person(first_name='John',last_name='Smith',age='42a')
    print(p3)
except Exception as e:
    print(e)

1 validation error for person
age
  Input should be a valid integer, unable to parse string as an integer [type=int_parsing, input_value='42a', input_type=str]
    For further information visit https://errors.pydantic.dev/2.7/v/int_parsing

In [35]:
date: dict = {
     "first_name": "John",
     "last_name": "Smith",
     "age":42,
     }
p4 = person.model_validate(date)
p4

person(first_name='John', last_name='Smith', age=42)

In [43]:
date_json: str =''' #'''代表多行字串
{
    "first_name": "John",
    "last_name": "Smith",
    "age": 42
}
'''
p5 = person.model_validate_json(data_json)

SyntaxError: unterminated triple-quoted string literal (detected at line 8) (1913123914.py, line 7)

In [39]:
data_json:str = '''
{
    "first_name": "John",
    "last_name": "Smith",
    "age":42
}
''' 
p5 = person.model_validate_json(data_json)
p5

person(first_name='John', last_name='Smith', age=42)

In [ ]:
class person(Basemodel):
    first_name: str #require
    last_name: str | None = None #optional

data_json:str = '''

In [ ]:
class Person(BaseModel):
    first_name:str #require
    last_name:str | None = None #optional
    age:int = 18 #optional

data_json:str = '''
{
    "first_name": "John"   
}
'''

p6 = Person.model_validate_json(data_json)
p6

In [ ]:
class Person(BaseModel):
    first_name:str 
    last_name:str | None = None 
    age:int = 18
    lucky_numbers:list[int]

data_json:str = '''
{
    "first_name": "John",
    "last_name": "Smith",
    "age":42,
    "lucky_numbers":[1,3,5,7,9]
}
'''
p7 = Person.model_validate_json(data_json)
p7

In [ ]:
from pydantic import BaseModel,Field
data:str = '''
{
    "id":100,
    "First Name":"John",
    "LASTNAME":"Smith",
    "age in years": 42
}
'''

class Person(BaseModel):
    id_:int = Field(alias="id")
    first_name:str = Field(alias='First Name')
    last_name:str | None = Field(alias='LASTNAME',default=None)
    age:int = Field(alias='age in years',default=18)

p8 = Person.model_validate_json(data)
p8

In [86]:
date = '''
{
    "firstName": "Arthur",
    "lastName": "Clarke",
    "born":{
        "place:{
            "country": "Lunar Colony",
            "city": "Central City"
        },
        "date": "2001-01-01"
    }
}
'''
class Place(BaseModel):   #class 的c 要小寫 P要大寫
    country:str
    city:str

class Born(BaseModel):
    place:Place
    date:str

class Person(BaseModel):
    first_name:str = Field(alias='firstName')
    last_name:str = Field(alias='lastName')
    born:Born

p9 = Person.model_validate_json(data)
print(p9)
p9.born.place.city
p9.born.place.country

NameError: name 'Field' is not defined

In [87]:
class Person(BaseModel):
    first_name:str = Field(alias='firstName')
    last_name:str = Field(alias='lastName')
    born:Born

NameError: name 'Field' is not defined

In [ ]:
date ='''
{
    "firstName": "Arthur",
    "lastName": "Clarke",
    "born":{
        "place";{
            "country": "Lunar Colony",
            "city": "Central City"
        },
        "date":2001-01-01"
    }
}
'''

Class Place(Base)

In [ ]:
data = '''
{
    "firstName": "Arthur",
    "lastName": "Clarke",
    "born":{
        "place":{
            "country":"Lunar Colony",
            "city": "Central City"
        },
        "date":"2001-01-01"
    }
}
'''

class Place(BaseModel):
    country:str
    city:str

class Born(BaseModel):
    place:Place
    date:str

class Person(BaseModel):
    first_name:str = Field(alias='firstName')
    last_name:str = Field(alias='lastName')
    born:Born

p9 = Person.model_validate_json(data)
print(p9)
p9.born.place.city
p9.born.place.country